<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <h3 class="logo-name"><%= image_tag("marker_logo.png", height: 64) %></h3>
  </div>
  <h4>Welcome to Share.Place</h4>
  <p>Login in. To see it in action.</p>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "m-t") do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  label: false,
                  placeholder: 'Email',
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  label: false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn btn-primary block full-width m-b" %>
    </div>
  <% end %>
  
  <%= link_to new_password_path(resource_name) do %>
    <small>Forgot password?</small>
  <% end %>
  <p class="text-muted text-center"><small>Do not have an account?</small></p>
  <%= link_to "Create an account", new_registration_path(resource_name), class: "btn btn-sm btn-light btn-block" %>
</div>
