<div class="card-header bg-info">
  <h3 class="text-white text-center">Users</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Username</th>
      <th>Registered on</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="d-inline-block text-truncate" style="max-width: 250px;"><%= user.slug %></td>
        <td><%= user.created_at.strftime("%F") %></td>
        <td><%= link_to 'Shared Places', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
