<div class="card-header bg-info text-white d-flex">
  <h3 class="text-white">Places</h3>
  <%= link_to new_place_path, class: "text-white align-middle ml-auto btn btn-danger" do %>
    <i class="fas fa-plus"></i> New Place
  <% end %>
</div>
<div class="container">
  <div class="row">
    
    <div class="col-6">
      <div id="map"></div>
    </div>
    <div class="col-6">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Public?</th>
            <th>Shared By</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @places.each do |place| %>
            <tr>
              <td><%= place.name %></td>
              <td><%= place.latitude %></td>
              <td><%= place.longitude %></td>
              <td>
                <% if place.is_public.present? %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                <% else %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              </td>
              <% if place.user == current_user %>
                <td class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> <%= place.user.name %></td>
              <% else %>
                <td>
                  <%= link_to place.user do %>
                    <i class="fa fa-user-secret" aria-hidden="true"></i> <%= place.user.name %>
                  <% end %>
                </td>
              <% end %>
              <td><%= link_to 'Show', place %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://openlayers.org/en/v5.3.0/build/ol.js" type="text/javascript"></script>
<!-- Openlayesr JS fIle -->
<script type="text/javascript">
  var baseMapLayer = new ol.layer.Tile({
    source: new ol.source.OSM()
  });
  var map = new ol.Map({
    target: 'map',
    layers: [baseMapLayer],
    view: new ol.View({
            center: ol.proj.fromLonLat([<%=@places.first.longitude%>, <%=@places.first.latitude%>]), 
            zoom: 10 //Initial Zoom Level
          })
  });
  
  var featuresArray = []
  <% @places.each do |place| %>
    featuresArray.push(
      new ol.Feature({
        geometry: new ol.geom.Point(
          ol.proj.fromLonLat([<%= place.longitude %>, <%= place.latitude %>])
        )
      })
    );
  <% end %>
  featuresArray.forEach(myFunction);

  function myFunction(value) {
    value.setStyle(new ol.style.Style({
        image: new ol.style.Icon(({
          color: '#ffcd46',
          crossOrigin: 'anonymous',
          src: '<%= asset_path('marker.png') %>'
        }))
    }))
  }
  
  var vectorSource = new ol.source.Vector({
    features: featuresArray
  });
  var markerVectorLayer = new ol.layer.Vector({
    source: vectorSource,
  });
  map.addLayer(markerVectorLayer);
</script>
