<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <h3 class="logo-name"><%= image_tag("marker_logo.png", height: 64) %></h3>
  </div>

  <h4>Edit <%= resource_name.to_s.humanize %></h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email' %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  label: false,
                  placeholder: 'Password',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  label: false,
                  placeholder: 'Password Confirmation',
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  label: false,
                  placeholder: 'Current Password',
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary block full-width m-b" %>
    </div>
  <% end %>

  <!-- <p class="text-muted text-center"><small>Cancel my account</small></p> -->

  <!-- <p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

  <%= link_to "Back", :back, class: "btn btn-sm btn-light btn-block" %>
</div>
